<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge, chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Welcome page</title>
</head>
<body>
  {{> header}}
  {{!--this way we pass arguments to our helpers functions just withs spaces--}}
  <p>{{screamIt textMessage}}</p>

{{!--using partials--}}
  {{> footer}}

</body>
</html>