// Importing project's base variables
@import "base/variables";

// Fontawesome fonts
@import "font-awesome/font-awesome";

// Foundation sites 
@import "foundation/settings";
@import "foundation/foundation";

@include foundation-everything;

// Components
@import "components/title";
